@-webkit-keyframes spin-clef-logo {
  0% {
    -webkit-transform: rotateZ(0deg); }

  100% {
    -webkit-transform: rotateZ(360deg); } }

#clef-credential-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 ); }

#clef-credential-focus {
  position: relative;
  z-index: 9999; }

#clef-credential-message {
  background: #0d9ddb;
  color: white;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 9999;
  margin: 0;
  font-weight: 500;
  width: 100%;
  height: 40px;
  line-height: 40px; }
  #clef-credential-message #clef-credential-message-text {
    display: inline-block;
    width: 80%; }
  #clef-credential-message #clef-credential-next {
    display: inline-block;
    height: 100%;
    width: 20%;
    cursor: pointer;
    background: #19b008; }

.clear {
  clear: both; }

#clef-vault-login-wrapper {
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  background-size: 64px;
  overflow: hidden;
  position: fixed;
  bottom: 25px;
  right: 25px;
  -webkit-animation: spin-clef-logo 3s linear infinite;
  cursor: pointer;
  -webkit-transform: rotateX(0deg) rotateZ(0deg);
  overflow: visible;
  padding: 20px;
  background-position: center;
  z-index: 9999; }
  #clef-vault-login-wrapper:hover {
    -webkit-transition: -webkit-transform .5s;
    -webkit-animation: none;
    -webkit-transform: rotateX(0deg) rotateZ(359deg);
    opacity: 1; }
    #clef-vault-login-wrapper:hover .clef-button {
      height: 15px;
      width: 15px;
      -webkit-transform: rotateZ(360deg);
      opacity: 1; }
      #clef-vault-login-wrapper:hover .clef-button.clef-dismiss {
        left: -19px;
        top: 15px; }
        #clef-vault-login-wrapper:hover .clef-button.clef-dismiss:hover {
          background-color: #db070a; }
      #clef-vault-login-wrapper:hover .clef-button.clef-edit {
        left: -12px;
        top: 34px; }
        #clef-vault-login-wrapper:hover .clef-button.clef-edit:hover {
          background-color: #19b008; }
  #clef-vault-login-wrapper.remove {
    -webkit-animation: none !important;
    -webkit-transition: opacity 1s, -webkit-transform 1s !important;
    opacity: 0 !important;
    -webkit-transform: rotateX(360deg) rotateZ(359deg) !important; }
  #clef-vault-login-wrapper.loading {
    -webkit-animation: spin-clef-logo 1s linear infinite; }
  #clef-vault-login-wrapper .clef-button {
    height: 0px;
    width: 0px;
    border-radius: 25px;
    display: block;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    opacity: 0;
    -webkit-transform: rotateZ(0deg);
    -webkit-transition: height .5s, width .5s, -webkit-transform .5s, opacity .5s, top .5s, left .5s;
    -webkit-transition-delay: .1s;
    position: relative;
    top: 25px;
    left: 25px;
    border: none;
    cursor: pointer; }
    #clef-vault-login-wrapper .clef-button.clef-dismiss {
      background-color: #db4c53; }
    #clef-vault-login-wrapper .clef-button.clef-edit {
      -webkit-transition-delay: .2s;
      background-color: #7fe26c; }
