@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic");
.button {
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  font-weight: bold; }

header {
  position: relative;
  background: white; }
  header .header-container {
    position: relative; }
    header .header-container .logo-container {
      margin-top: 10px; }
      header .header-container .logo-container .logo {
        width: 150px; }
      header .header-container .logo-container .logo-text {
        position: absolute;
        max-width: 55%; }
    header .header-container .content-container {
      height: 100%;
      position: relative; }
    header .header-container a.button {
      float: right;
      background: #f50380;
      color: white;
      text-align: center;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 200px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif; }
  html > *, body > * {
    font-family: inherit; }
  html a, body a {
    text-decoration: none; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }

section.body {
  padding: 40px 0;
  background: black; }
  section.body .header {
    font-size: 24px; }
    section.body .header .tagline, section.body .header .sub-tagline {
      text-align: center;
      color: white;
      margin: 10px 0;
      letter-spacing: .05em; }
      section.body .header .tagline a, section.body .header .sub-tagline a {
        color: white;
        position: relative; }
        section.body .header .tagline a:after, section.body .header .sub-tagline a:after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: #f50380;
          height: 5px; }
        section.body .header .tagline a:hover, section.body .header .sub-tagline a:hover {
          color: #f50380; }
    section.body .header .sub-tagline {
      font-size: 22px;
      font-weight: normal;
      opacity: .7; }
  section.body .features {
    padding: 40px 0; }
    section.body .features .feature .circle {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: auto;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75%;
      cursor: pointer;
      transition: background-color .5s;
      -webkit-transition: background-color .5s;
      -moz-transition: background-color .5s; }
      section.body .features .feature .circle.github {
        background-image: url(../images/github.png); }
      section.body .features .feature .circle.local {
        background-image: url(../images/local.png);
        background-size: 50%; }
      section.body .features .feature .circle.sign-out {
        background-image: url(../images/sign_out.png);
        background-size: 50%; }
      section.body .features .feature .circle.two-factor {
        background-image: url(../images/2-factor.png);
        background-size: 50%; }
      section.body .features .feature .circle.sync {
        background-image: url(../images/wave.png);
        background-size: 90%; }
      section.body .features .feature .circle:hover {
        background-color: #f50380; }
    section.body .features .feature .description {
      text-align: center;
      color: white;
      margin-top: 10px;
      font-size: 20px; }

section.features {
  margin-top: 3%; }
  section.features .feature-detail {
    height: 500px; }
    section.features .feature-detail.sync .icon:before {
      background-image: url(../images/wave.png); }
    section.features .feature-detail.sign-out .icon:before {
      background-image: url(../images/sign_out.png); }
    section.features .feature-detail.github .icon:before {
      background-image: url(../images/github.png); }
    section.features .feature-detail.local .icon:before {
      background-image: url(../images/local.png); }
    section.features .feature-detail.two-factor .icon:before {
      background-image: url(../images/2-factor.png); }
    section.features .feature-detail p {
      color: white;
      font-size: 2em;
      position: relative;
      top: 75px; }
    section.features .feature-detail div.icon {
      height: 500px;
      font-size: 2em;
      color: white;
      text-align: center; }
      section.features .feature-detail div.icon:before {
        content: '';
        display: block;
        height: 300px;
        width: 300px;
        border-radius: 300px;
        background-color: white;
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        left: 50px;
        top: -20px; }
