/** Vars **/
/** Styles **/
body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #eeeeee;
  padding: 1px 20px;
  box-shadow: 0 0 10px 2px #444444;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .small-header {
  font-size: .4em;
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 85px;
  left: 0;
  height: 100%;
  box-shadow: 0 0 10px 2px #444444;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #cadde2;
}
nav ul li {
  width: 200px;
  padding: 10px 15px;
  border-bottom: 2px solid #c1d4d9;
  background-color: #b6c7cc;
  color: #444444;
  text-shadow: 0px 1px #999999;
  cursor: pointer;
}
nav ul li:hover {
  background-color: #a0b0b4;
}

.main-content {
  padding-left: 230px;
  padding-top: 85px;
  background-color: #d8eef3;
  min-height: 100%;
}
.main-content h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #c1d4d9;
}
.main-content.settings {
  display: none;
}
.main-content.settings .all-settings {
  padding: 5px 0 5px 50px;
}
.main-content.settings .all-settings #api-url {
  width: 500px;
}
.main-content.sites-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-content.sites-list ul li {
  background-color: #b6c7cc;
  border-bottom: 2px solid #c1d4d9;
  padding: 5px 0 5px 50px;
}
.main-content.sites-list ul li h3 {
  display: inline;
  font-weight: normal;
}
.main-content.sites-list ul li .styled {
  border: 2px solid #d7d8dd;
  background-color: #c9cbd0;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 10px -3px #333;
  cursor: pointer;
}
.main-content.sites-list ul li .styled.success {
  background-color: green;
}
.main-content.sites-list ul li .togglePass {
  border: none;
  background-color: transparent;
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
}
.main-content.sites-list ul li .togglePass.closed {
  background-image: url("/img/eye_open.png");
}
.main-content.sites-list ul li .togglePass.open {
  background-image: url("/img/eye_closed.png");
}
.main-content.sites-list ul li label {
  color: #444;
  margin-left: 20px;
}
