body, html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body *, html * {
  font-family: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6, html h1, html h2, html h3, html h4, html h5, html h6 {
  font-weight: bold;
}

header {
  text-align: center;
}
header h1 {
  font-size: 60px;
}
