@charset "UTF-8";
#waltz-credential-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 );
  -webkit-transition: opacity .5s;
  cursor: default;
}
#waltz-credential-overlay.tutorial {
  background: none;
}
#waltz-credential-overlay.slide-in {
  opacity: 1;
}
#waltz-credential-overlay::after {
  position: absolute;
  color: white;
  content: "×";
  top: 10px;
  left: 10px;
  font-size: 30px;
  line-height: 20px;
  margin: 0;
  opacity: .5;
  cursor: pointer;
  z-index: 9999;
}
#waltz-credential-overlay::after:hover {
  opacity: 1;
}

#waltz-credential-form {
  width: 280px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 20px;
  background-size: 50px;
  box-shadow: 0 0px 10px #000;
  margin: auto;
  margin-top: -500px;
  padding-bottom: 1px;
  -webkit-transition: .2s;
  position: relative;
}
#waltz-credential-form.slide-in {
  margin-top: 0;
}
#waltz-credential-form #waltz-credential-username,
#waltz-credential-form #waltz-credential-password,
#waltz-credential-form #waltz-credential-submit,
#waltz-credential-form #waltz-credential-alert {
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", serif;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  margin: 20px;
  border-radius: 0px;
  display: block;
  border: 1px solid black;
}
#waltz-credential-form #waltz-credential-username:not(#waltz-credential-submit),
#waltz-credential-form #waltz-credential-password:not(#waltz-credential-submit),
#waltz-credential-form #waltz-credential-submit:not(#waltz-credential-submit),
#waltz-credential-form #waltz-credential-alert:not(#waltz-credential-submit) {
  -webkit-transition: .5s;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.54);
}
#waltz-credential-form #waltz-credential-username:not(#waltz-credential-submit):focus,
#waltz-credential-form #waltz-credential-password:not(#waltz-credential-submit):focus,
#waltz-credential-form #waltz-credential-submit:not(#waltz-credential-submit):focus,
#waltz-credential-form #waltz-credential-alert:not(#waltz-credential-submit):focus {
  outline: none;
  border-color: #fe93ca;
  -webkit-box-shadow: 0 0 10px #fe93ca;
}
#waltz-credential-form #waltz-credential-logos {
  width: 200px;
  margin: auto;
  position: relative;
}
#waltz-credential-form #waltz-credential-logos img, #waltz-credential-form #waltz-credential-logos div#waltz-credential-site-logo {
  width: 40px;
  border-radius: 20px;
  margin: 20px;
  display: inline-block;
}
#waltz-credential-form #waltz-credential-logos img#waltz-credential-arrow, #waltz-credential-form #waltz-credential-logos div#waltz-credential-site-logo#waltz-credential-arrow {
  margin: 20px 0;
}
#waltz-credential-form #waltz-credential-logos div#waltz-credential-site-logo {
  height: 40px;
  background: white;
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;
}
#waltz-credential-form #waltz-credential-logos:after {
  content: " ";
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/lock.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 12%;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  opacity: .5;
}
#waltz-credential-form #waltz-credential-message {
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", serif;
  text-align: center;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
}
#waltz-credential-form #waltz-credential-username {
  width: 230px;
}
#waltz-credential-form #waltz-credential-password {
  display: inline-block;
  width: 190px;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
}
#waltz-credential-form #waltz-credential-submit {
  border: none;
  color: white;
  cursor: pointer;
  background: white;
  color: black;
  width: 30px;
  display: inline-block;
  -webkit-transition: .5s;
  margin: 0;
  margin-left: 10px;
  color: white;
  background: transparent;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  -webkit-border-radius: 20px;
}
#waltz-credential-form #waltz-credential-submit:hover {
  background-color: #f50380;
}
#waltz-credential-form #waltz-credential-submit:after {
  display: block;
  clear: both;
}
#waltz-credential-form #waltz-credential-alert {
  margin-top: 20px;
  font-size: 14px;
  background-color: #f65058;
  color: white;
}

.waltz-clear {
  clear: both;
}

#waltz-onboarding-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .5s;
  cursor: default;
}
#waltz-onboarding-overlay::after {
  position: absolute;
  color: white;
  content: "×";
  top: 10px;
  left: 10px;
  font-size: 30px;
  line-height: 20px;
  margin: 0;
  opacity: .5;
  cursor: pointer;
  z-index: 9999;
}
#waltz-onboarding-overlay::after:hover {
  opacity: 1;
}

#waltz-onboarding-message {
  display: none;
  z-index: 9999;
  color: #111;
  background: white;
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", serif;
  padding: 20px;
  font-size: 20px;
  font-weight: 100;
  width: 240px;
  border: 1px solid white;
  line-height: 1.1em;
}
#waltz-onboarding-message p {
  margin: 0;
}
#waltz-onboarding-message.floating {
  position: absolute;
  -webkit-animation: wiggle 1s 3;
  animation: wiggle 1s 3;
}
#waltz-onboarding-message.floating:after {
  content: " ";
  position: absolute;
  border: 10px solid transparent;
}
#waltz-onboarding-message.floating.right-arrow:after {
  right: -20px;
  top: 25%;
  border-left: 10px solid white;
}
#waltz-onboarding-message.floating.top-arrow:after {
  right: 50%;
  top: -20px;
  border-bottom: 10px solid white;
}
#waltz-onboarding-message.bottom {
  position: fixed;
  background: white;
  color: #111;
  width: 100%;
  bottom: 0;
  left: 0;
}
#waltz-onboarding-message #waltz-onboarding-dismiss {
  top: 0;
  left: 3px;
  position: absolute;
  color: #CCC;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
#waltz-onboarding-message #waltz-onboarding-dismiss:hover {
  color: #AAA;
}

/* safari and chrome */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0.5deg);
  }

  50% {
    -webkit-transform: rotate(-0.5deg);
  }

  100% {
    -webkit-transform: rotate(0.5deg);
  }
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
  0% {
    transform: rotate(0.5deg);
  }

  50% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0.5deg);
  }
}

#clef-waltz-login-wrapper {
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  background-size: 64px;
  overflow: hidden;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  overflow: visible;
  padding: 20px;
  background-position: center;
  z-index: 9999;
  -webkit-transition: .5s;
}
#clef-waltz-login-wrapper:hover {
  -webkit-transition: -webkit-transform .5s;
  -webkit-transform: rotateX(0deg) rotateZ(359deg);
  opacity: 1;
}
#clef-waltz-login-wrapper:hover .waltz-button {
  height: 20px;
  width: 20px;
  -webkit-transform: rotateZ(360deg);
  opacity: 1;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-dismiss {
  top: 63px;
  left: 50px;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-dismiss:hover {
  background-color: #db070a;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-edit {
  top: 43px;
  left: -6px;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-edit:hover {
  background-color: #f50380;
}
#clef-waltz-login-wrapper.waltz-remove {
  -webkit-transition: .5s;
  right: -200px;
}
#clef-waltz-login-wrapper.waltz-loading {
  -webkit-animation: spin-clef-logo 1s linear infinite;
}
#clef-waltz-login-wrapper .waltz-button {
  height: 0px;
  width: 0px;
  border-radius: 25px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  opacity: 0;
  -webkit-transform: rotateZ(0deg);
  -webkit-transition: height .5s, width .5s, -webkit-transform .5s, opacity .5s, top .5s, left .5s;
  -webkit-transition-delay: .1s;
  position: relative;
  top: 25px;
  left: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 0px;
}
#clef-waltz-login-wrapper .waltz-button.waltz-dismiss {
  background-color: #db4c53;
}
#clef-waltz-login-wrapper .waltz-button.waltz-edit {
  -webkit-transition-delay: .2s;
  background-color: #f774b8;
}
