@charset "UTF-8";
#waltz-credential-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 );
  -webkit-transition: opacity .5s;
  cursor: default;
}
#waltz-credential-overlay.slide-in {
  opacity: 1;
}
#waltz-credential-overlay::after {
  position: absolute;
  color: white;
  content: "×";
  top: 10px;
  left: 10px;
  font-size: 30px;
  line-height: 20px;
  margin: 0;
  opacity: .5;
  cursor: pointer;
  z-index: 9999;
}
#waltz-credential-overlay::after:hover {
  opacity: 1;
}

#waltz-credential-form {
  width: 280px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 20px;
  background-size: 50px;
  box-shadow: 0 0px 10px #000;
  margin: auto;
  margin-top: -500px;
  padding-top: 70px;
  padding-bottom: 1px;
  -webkit-transition: .2s;
  position: relative;
}
#waltz-credential-form.slide-in {
  margin-top: 0;
}
#waltz-credential-form #waltz-credential-username,
#waltz-credential-form #waltz-credential-password,
#waltz-credential-form #waltz-credential-submit,
#waltz-credential-form #waltz-credential-alert {
  font-family: "Gill Sans", "Helvetica Neue", "Helvetica", serif;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  margin: 20px;
  border-radius: 0px;
  display: block;
  border: 1px solid black;
}
#waltz-credential-form #waltz-credential-username:not(#waltz-credential-submit),
#waltz-credential-form #waltz-credential-password:not(#waltz-credential-submit),
#waltz-credential-form #waltz-credential-submit:not(#waltz-credential-submit),
#waltz-credential-form #waltz-credential-alert:not(#waltz-credential-submit) {
  -webkit-transition: .5s;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.54);
}
#waltz-credential-form #waltz-credential-username:not(#waltz-credential-submit):focus,
#waltz-credential-form #waltz-credential-password:not(#waltz-credential-submit):focus,
#waltz-credential-form #waltz-credential-submit:not(#waltz-credential-submit):focus,
#waltz-credential-form #waltz-credential-alert:not(#waltz-credential-submit):focus {
  outline: none;
  border-color: #fe93ca;
  -webkit-box-shadow: 0 0 10px #fe93ca;
}
#waltz-credential-form #waltz-credential-username {
  width: 230px;
}
#waltz-credential-form #waltz-credential-password {
  display: inline-block;
  width: 190px;
  margin-left: 20px;
  margin-right: 0;
  margin-top: 0;
}
#waltz-credential-form #waltz-credential-submit {
  border: none;
  color: white;
  cursor: pointer;
  background: white;
  color: black;
  width: 30px;
  display: inline-block;
  -webkit-transition: .5s;
  margin: 0;
  margin-left: 10px;
  color: white;
  background: transparent;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  -webkit-border-radius: 20px;
}
#waltz-credential-form #waltz-credential-submit:hover {
  background-color: #f50380;
}
#waltz-credential-form #waltz-credential-submit:after {
  display: block;
  clear: both;
}
#waltz-credential-form #waltz-credential-alert {
  margin-top: 20px;
  font-size: 14px;
  background-color: #f65058;
  color: white;
}

.waltz-clear {
  clear: both;
}

#clef-waltz-login-wrapper {
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  background-size: 64px;
  overflow: hidden;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  overflow: visible;
  padding: 20px;
  background-position: center;
  z-index: 9999;
  -webkit-transition: .5s;
}
#clef-waltz-login-wrapper:hover {
  -webkit-transition: -webkit-transform .5s;
  -webkit-transform: rotateX(0deg) rotateZ(359deg);
  opacity: 1;
}
#clef-waltz-login-wrapper:hover .waltz-button {
  height: 15px;
  width: 15px;
  -webkit-transform: rotateZ(360deg);
  opacity: 1;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-dismiss {
  left: -19px;
  top: 15px;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-dismiss:hover {
  background-color: #db070a;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-edit {
  left: -12px;
  top: 34px;
}
#clef-waltz-login-wrapper:hover .waltz-button.waltz-edit:hover {
  background-color: #19b008;
}
#clef-waltz-login-wrapper.waltz-remove {
  -webkit-transition: .5s;
  right: -200px;
}
#clef-waltz-login-wrapper.waltz-loading {
  -webkit-animation: spin-clef-logo 1s linear infinite;
}
#clef-waltz-login-wrapper .waltz-button {
  height: 0px;
  width: 0px;
  border-radius: 25px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  opacity: 0;
  -webkit-transform: rotateZ(0deg);
  -webkit-transition: height .5s, width .5s, -webkit-transform .5s, opacity .5s, top .5s, left .5s;
  -webkit-transition-delay: .1s;
  position: relative;
  top: 25px;
  left: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 0px;
}
#clef-waltz-login-wrapper .waltz-button.waltz-dismiss {
  background-color: #db4c53;
}
#clef-waltz-login-wrapper .waltz-button.waltz-edit {
  -webkit-transition-delay: .2s;
  background-color: #7fe26c;
}
