@import "_settings";

#waltz-credential-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 ); // IE6-9 fallback on horizontal gradient
    -webkit-transition: opacity .5s;

    &.slide-in {
        opacity: 1;
    }
}

#waltz-credential-form {
    width: 500px;
    height: 190px;
    background-color: white;
    box-shadow: 0 0px 10px #000;
    position: absolute;
    z-index: 9999;
    top: -220px;
    left: 50%;
    margin-left: -250px;
    padding-top: 30px;
    -webkit-transition: top .5s;

    &.slide-in {
        top: 0;
    }

    #waltz-credential-username, #waltz-credential-password {
        font-size: 24px;
        width: 400px;
        margin-left: 50px;
        padding: 5px 10px;
    }

    #waltz-credential-username {
        margin-bottom: 20px;
    }

    #waltz-credential-submit {
        height: 50px;
        width: 100%;
        background-color: $blue;
        border: none;
        color: white;
        font-size: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;

        &:hover {
            background-color: $blue-on;
        }
    }

}
.waltz-clear {
    clear: both;
}