@import "_settings";

#waltz-credential-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 ); // IE6-9 fallback on horizontal gradient
}

#waltz-credential-focus {
    position: relative;
    z-index: 9999;
}

#waltz-credential-message{
    $height: 40px;
    background: $blue;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 9999;
    margin: 0;
    font-weight: 500;
    width: 100%;
    height: $height;
    line-height: $height;
    #waltz-credential-message-text {
        display: inline-block;
        width: 80%;
    }
    #waltz-credential-next {
        display: inline-block;
        height: 100%;
        width: 20%;
        cursor: pointer;
        background: $green;
    }
}

.clear {
    clear: both;
}