header {
    // $height: 350px;
    // height: $height;
    position: relative;
    background: white;

    .header-container {
        position: relative;


        .logo-container {
            margin-top: 10px;

            .logo {
                width: 150px;
            }

            .logo-text {
                position: absolute;
                max-width: 55%;
            }
        }

        .content-container {
            height: 100%;
            position: relative;
            
        }

        a.button {
            float: right;
            background: $pink;
            color: white;
            text-align: center;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 200px;
        }
    }
}