$pink: #F50380;
$black: black;

.button {
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    font-weight: bold;
}

@mixin inset-shadow($size:2px, $color:rgba(0,0,0,0)) {
    -moz-box-shadow: inset 0 0 $size $size $color;
    -webkit-box-shadow: inset 0 0 $size $size $color;
    box-shadow: inset 0 0 $size $size $color;
}