@import "_settings";
@import "_animations";
@import "_credentials";

#clef-vault-login-wrapper {
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    background-size: 64px;
    overflow: hidden;
    position: fixed;
    bottom: 25px;
    right: 25px;
    -webkit-animation: spin-clef-logo 3s linear infinite;
    cursor: pointer;
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    overflow: visible;
    padding: 20px;
    background-position: center;
    z-index: 9999;

    &:hover {
        -webkit-transition: -webkit-transform .5s;
        -webkit-animation: none;
        -webkit-transform: rotateX(0deg) rotateZ(359deg);
        opacity: 1;

        .clef-button {
            height: 15px;
            width: 15px;
            -webkit-transform: rotateZ(360deg);
            opacity: 1;

            &.clef-dismiss {
                left: -19px;
                top: 15px;

                &:hover {
                    background-color: $red;
                }
            }
            &.clef-edit {
                left: -12px;
                top: 34px;

                &:hover {
                    background-color: $green;
                }
            }
        }
    }
    &.remove {
        -webkit-animation: none !important;
        -webkit-transition: opacity 1s, -webkit-transform 1s !important;
        opacity: 0 !important;
        -webkit-transform: rotateX(360deg) rotateZ(359deg) !important;
    }
    &.loading {
        -webkit-animation: spin-clef-logo 1s linear infinite;
    }

    .clef-button {
        height: 0px;
        width: 0px;
        border-radius: 25px;
        display: block;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 4px 4px;
        opacity: 0;
        -webkit-transform: rotateZ(0deg);
        -webkit-transition: height .5s, width .5s, -webkit-transform .5s, opacity .5s, top .5s, left .5s;
        -webkit-transition-delay: .1s;
        position: relative;
        top: 25px;
        left: 25px;
        border: none;
        cursor: pointer;

        &.clef-dismiss {
            background-color: $red-off;
        }

        &.clef-edit {
            -webkit-transition-delay: .2s;
            background-color: $green-off;
        }

    }
}