@import "settings";

@import "header";

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic");

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
    & > * {
        font-family: inherit;
    }

    a {
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
    }
}


section.body {
    $line-width: 1px;
    padding: 40px 0;
    background: $black;

    .header {
        font-size: 24px;
        .tagline, .sub-tagline {
            text-align: center;
            color: white;
            margin: 10px 0;
            font-weight: bold;
            a {
                color: white;
                position: relative;
                &:after {
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: $pink;
                    height: 5px;
                }
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
            letter-spacing: .05em;
        }

        .sub-tagline {
            font-size: 22px;
            font-weight: normal;
            opacity: .7;
        }
    }

    .features {
        padding: 60px 0;
        .feature {
            position: relative;
            &.selected {
                .circle {
                    @include inset-shadow(6px, rgba(0,0,0,.2));
                }
                &::after {
                    opacity: 1;
                }
            }

            &::after {
                $height: 40px;
                content: " ";
                display: block;
                height: $height;
                width: $line-width;
                background: white;
                position: absolute;
                bottom: -$height - 20px;
                left: 49%;
                opacity: 0;
                transition: .5s;
            }
            &.github {
                .circle {
                    background-image: url(../images/github.png);
                    background-size: 50%;
                }
            }
            &.local {
                .circle {
                    background-image: url(../images/local.png);
                    background-size: 40%;
                }
            }
            &.sign-out {
                .circle {
                    background-image: url(../images/sign_out.png);
                    background-size: 45%;
                }
            }
            &.two-factor {
                .circle {
                    background-image: url(../images/2-factor.png);
                    background-size: 45%;
                }
            }
            &.sync {
                .circle {
                    background-image: url(../images/wave.png);
                    background-size: 60%;
                    background-position: 50% 60%;
                }
            }
            .circle {
                $size: 100px;
                width: $size;
                height: $size;
                border-radius: ($size / 2);
                margin: auto;
                background-color: white;
                background-repeat: no-repeat;
                background-position: center center;
                cursor: pointer;
                transition: background-color .5s;
                -webkit-transition: background-color .5s;
                -moz-transition: background-color .5s;

                

                &:hover {
                    @include inset-shadow(6px, rgba(0,0,0,.2));
                }
            }

            .feature-name {
                text-align: center;
                color: white;
                margin-top: 10px;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: .05em;
            }
        }
    }

    .descriptions {
        margin-top: 80px;
        position: relative;
        overflow: hidden;
        height: 550px;
        h1, h3 {
            margin: 0;
            color: white;
            text-align: center;
        }
        h1 {
            padding-bottom: 20px;
        }
        h3 {
            width: 50%;
        }
        .description {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            transition: .5s;
            &.show {
                opacity: 1;
                top: 40px;
            }
            opacity: 0;
            top: 1000px;
        }
    }
}