/** Vars **/
$blueBG: #cadde2;
$lightBlueBG: #d8eef3;
$cellBorder: #c1d4d9;
$cellBackground: #b6c7cc;


/** Styles **/

body {
	margin: 0;
	font-family: sans-serif;
}

header {
	background-color: #eeeeee;
	padding: 1px 20px;
	box-shadow: 0 0 10px 2px #444444;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	.small-header {
		font-size: .4em;
		text-decoration: none;
		color: black;	
	}
}

nav {
	position: fixed;
	top: 85px;
	left: 0;
	height: 100%;
	box-shadow: 0 0 10px 2px #444444;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		background-color: $blueBG;

		li {
			width: 200px;
			padding: 10px 15px;
			border-bottom: 2px solid $cellBorder;
			background-color: $cellBackground;
			color: #444444;
			text-shadow: 0px 1px #999999;
			cursor: pointer;

			&:hover {
				background-color: #a0b0b4;
			}
		}
	}
}

.main-content {
	padding-left: 230px;
	padding-top: 85px;
	background-color: $lightBlueBG;
	min-height: 100%;

	h2 {
		text-align: center;
		margin-top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 2px solid $cellBorder;
	}

	&.settings {
		display: none;

		.all-settings {
			padding: 5px 0 5px 50px;

			#cydoemus-url {
				width: 500px;
			}
		}
	}

	&.sites-list {

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				background-color: $cellBackground;
				border-bottom: 2px solid $cellBorder;
				padding: 5px 0 5px 50px;
				h3 {
					display: inline;
					font-weight: normal;
				}

				.styled {
					border: 2px solid #d7d8dd;
					background-color: #c9cbd0;
					padding: 5px;
					border-radius: 3px;
					box-shadow: 0 0 10px -3px #333;
					cursor: pointer;

					&.success {
						background-color: green;
					}
				}

				.togglePass {
					border: none;
					background-color: transparent;
					height: 25px;
					width: 25px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: bottom;
					cursor: pointer;

					&.closed {
						background-image: url('/img/eye_open.png');
					}

					&.open {
						background-image: url('/img/eye_closed.png');
					}
				}

				label {
					color: #444;
					margin-left: 20px;
				}
			}
		}
	}
}