@import "_settings";
@import "_animations";
@import "_credentials";
@import "_tutorial";

#waltz-login-wrapper {
    $size: 64px;

    position: fixed;
    bottom: 25px;
    right: 25px;

    width: $size;
    height: $size;
    
    -webkit-transition: .5s;

    &.waltz-remove {
        right: -($size + 50);
    }
    
    #waltz-login-button {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        border-radius: 32px;
        background-size: 64px;
        cursor: pointer;
        background-position: center;
        z-index: 9999;

        &:hover {
            background-color: black;
        }
    }

    .waltz-button {
        $offset: 10px;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        display: block;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        position: absolute;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;

        &.waltz-dismiss {
            background-size: 100%;
            background-position: center center;
            background-color: transparent;
            top: -$offset;
            right: -$offset;
            &:hover {
                background-color: $red;
            }
        }

        &.waltz-edit {
            top: -$offset;
            left: -$offset;
            -webkit-transition-delay: .2s;
            background-color: $pink-off;
        }

    }
}
