@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
#sites {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#sites > * {
  font-family: inherit;
}
#sites header h1, #sites header h2 {
  text-align: center;
}
#sites .sites-list {
  padding: 0;
  text-align: center;
}
#sites .sites-list li {
  width: 20%;
  float: left;
  margin: 20px 0;
  padding-bottom: 20px;
  position: relative;
}
#sites .sites-list li:hover {
  background: #EEE;
}
#sites .sites-list li.completed {
  opacity: .3;
}
#sites .sites-list li.completed:before {
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 140px;
  text-align: center;
  color: #00be61;
  z-index: 1;
}
#sites .sites-list li a {
  z-index: 2;
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#sites .sites-list li img {
  height: 120px;
  width: 120px;
}
