@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@-webkit-keyframes slide-behind {
  0% {
    left: 0;
    top: 0;
  }

  50% {
    left: -600px;
    top: -50px;
  }

  70% {
    z-index: 0;
    opacity: 1;
  }

  100% {
    left: 0;
    top: 0;
    z-index: 0;
    background: #DDD;
  }
}

@-webkit-keyframes pulse {
  0%, 10%, 20%, 30%, 100% {
    -webkit-transform: scale(1, 1);
  }

  5%, 15%, 25% {
    -webkit-transform: scale(1.15, 1.15);
  }
}

@-webkit-keyframes opacity-pulse {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

#waltz-credential-overlay, #waltz-first-share-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2147483646;
  width: 100%;
  height: 100%;
  opacity: 0;
  letter-spacing: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 );
  -webkit-transition: opacity .5s;
  cursor: default;
}
#waltz-credential-overlay.tutorial, #waltz-first-share-overlay.tutorial {
  background: none;
}
#waltz-credential-overlay.slide-in, #waltz-first-share-overlay.slide-in {
  opacity: 1;
}
#waltz-credential-overlay::after, #waltz-first-share-overlay::after {
  position: absolute;
  color: white;
  content: "×";
  top: 10px;
  left: 10px;
  font-size: 30px;
  line-height: 20px;
  margin: 0;
  opacity: .5;
  cursor: pointer;
  z-index: 2147483646;
}
#waltz-credential-overlay::after:hover, #waltz-first-share-overlay::after:hover {
  opacity: 1;
}

#waltz-credential-form, #waltz-first-share-form {
  width: 380px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 50px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: -500px;
  padding-bottom: 1px;
  -webkit-transition: .2s;
  position: relative;
  color: black;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#waltz-credential-form h1, #waltz-credential-form h2, #waltz-credential-form h3, #waltz-credential-form h4, #waltz-credential-form h5, #waltz-credential-form h6, #waltz-credential-form p, #waltz-first-share-form h1, #waltz-first-share-form h2, #waltz-first-share-form h3, #waltz-first-share-form h4, #waltz-first-share-form h5, #waltz-first-share-form h6, #waltz-first-share-form p {
  text-align: left;
  text-indent: 0;
}
#waltz-credential-form > *, #waltz-first-share-form > * {
  font-family: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#waltz-credential-form.slide-in, #waltz-first-share-form.slide-in {
  margin-top: 40px;
}
#waltz-credential-form *, #waltz-first-share-form * {
  text-shadow: none;
}
#waltz-credential-form div.label, #waltz-first-share-form div.label {
  margin-top: 15px;
  margin-bottom: 4px;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 700px;
  color: #888;
  font-size: 12px;
  text-align: left;
  background: transparent;
}
#waltz-credential-form #waltz-credential-username,
#waltz-credential-form #waltz-credential-password,
#waltz-credential-form #waltz-credential-submit,
#waltz-credential-form #waltz-credential-alert,
#waltz-credential-form #waltz-first-share, #waltz-first-share-form #waltz-credential-username,
#waltz-first-share-form #waltz-credential-password,
#waltz-first-share-form #waltz-credential-submit,
#waltz-first-share-form #waltz-credential-alert,
#waltz-first-share-form #waltz-first-share {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-radius: 0px;
  display: block;
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 15px;
  width: 85%;
  background: white;
  color: black;
  height: 24px;
  box-sizing: content-box;
}
#waltz-credential-form #waltz-credential-username:active, #waltz-credential-form #waltz-credential-username:focus,
#waltz-credential-form #waltz-credential-password:active,
#waltz-credential-form #waltz-credential-password:focus,
#waltz-credential-form #waltz-credential-submit:active,
#waltz-credential-form #waltz-credential-submit:focus,
#waltz-credential-form #waltz-credential-alert:active,
#waltz-credential-form #waltz-credential-alert:focus,
#waltz-credential-form #waltz-first-share:active,
#waltz-credential-form #waltz-first-share:focus, #waltz-first-share-form #waltz-credential-username:active, #waltz-first-share-form #waltz-credential-username:focus,
#waltz-first-share-form #waltz-credential-password:active,
#waltz-first-share-form #waltz-credential-password:focus,
#waltz-first-share-form #waltz-credential-submit:active,
#waltz-first-share-form #waltz-credential-submit:focus,
#waltz-first-share-form #waltz-credential-alert:active,
#waltz-first-share-form #waltz-credential-alert:focus,
#waltz-first-share-form #waltz-first-share:active,
#waltz-first-share-form #waltz-first-share:focus {
  outline: none;
}
#waltz-credential-form #waltz-credential-username,
#waltz-credential-form #waltz-credential-password, #waltz-first-share-form #waltz-credential-username,
#waltz-first-share-form #waltz-credential-password {
  height: 24px;
}
#waltz-credential-form #waltz-credential-submit,
#waltz-credential-form #waltz-first-share, #waltz-first-share-form #waltz-credential-submit,
#waltz-first-share-form #waltz-first-share {
  background: #00be61;
  border: none;
  color: white;
  text-align: left;
  padding: 10px 40px 10px 30px;
  margin-bottom: 30px;
  cursor: pointer;
  width: auto;
  height: auto;
  box-shadow: 0 4px 0 0 #008b47;
}
#waltz-credential-form #waltz-credential-submit:hover,
#waltz-credential-form #waltz-first-share:hover, #waltz-first-share-form #waltz-credential-submit:hover,
#waltz-first-share-form #waltz-first-share:hover {
  box-shadow: 0 3px 0 0 #008b47;
}
#waltz-credential-form #waltz-credential-submit:active,
#waltz-credential-form #waltz-first-share:active, #waltz-first-share-form #waltz-credential-submit:active,
#waltz-first-share-form #waltz-first-share:active {
  box-shadow: 0 2px 0 0 #008b47;
}
#waltz-credential-form form, #waltz-first-share-form form {
  padding: 0 20px;
  display: block;
}
#waltz-credential-form form h2, #waltz-first-share-form form h2 {
  font-size: 12px;
  line-height: 16px;
  color: #888;
  margin: 25px 0 10px 0;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  padding: 0;
  text-align: left;
}
#waltz-credential-form #waltz-credential-alert, #waltz-first-share-form #waltz-credential-alert {
  font-size: 14px;
  background-color: #f65058;
  color: white;
  padding: 10px;
}
#waltz-credential-form #waltz-credential-header, #waltz-credential-form #waltz-first-share-header, #waltz-first-share-form #waltz-credential-header, #waltz-first-share-form #waltz-first-share-header {
  padding: 20px;
  padding-bottom: 10px;
}
#waltz-credential-form #waltz-credential-header h1, #waltz-credential-form #waltz-first-share-header h1, #waltz-first-share-form #waltz-credential-header h1, #waltz-first-share-form #waltz-first-share-header h1 {
  font-size: 18px;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: left;
  background: white;
  text-indent: 0;
}
#waltz-credential-form #waltz-credential-footer, #waltz-first-share-form #waltz-credential-footer {
  background: #EEE;
  padding: 20px;
}
#waltz-credential-form #waltz-credential-footer #waltz-credential-footer-image, #waltz-first-share-form #waltz-credential-footer #waltz-credential-footer-image {
  width: 30%;
  float: left;
}
#waltz-credential-form #waltz-credential-footer #waltz-credential-footer-image img, #waltz-first-share-form #waltz-credential-footer #waltz-credential-footer-image img {
  width: 80%;
}
#waltz-credential-form #waltz-credential-footer #waltz-credential-footer-message, #waltz-first-share-form #waltz-credential-footer #waltz-credential-footer-message {
  width: 70%;
  float: left;
}
#waltz-credential-form #waltz-credential-footer #waltz-credential-footer-message p, #waltz-first-share-form #waltz-credential-footer #waltz-credential-footer-message p {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
}
#waltz-credential-form #waltz-credential-footer #waltz-credential-footer-message p:first-child, #waltz-first-share-form #waltz-credential-footer #waltz-credential-footer-message p:first-child {
  margin-bottom: 10px;
}
#waltz-credential-form #waltz-credential-footer #waltz-credential-footer-message p b, #waltz-first-share-form #waltz-credential-footer #waltz-credential-footer-message p b {
  font-weight: 700;
}

.waltz-clear {
  clear: both;
}

#waltz-message {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  z-index: 2147483647;
  color: #111;
  background: white;
  padding: 0;
  width: 380px;
  border: 2px solid #111111;
  border-radius: 5px;
}
#waltz-message p {
  margin: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2em;
  text-align: left;
}
#waltz-message.floating {
  position: absolute;
}
#waltz-message.floating.fixed {
  position: fixed;
}
#waltz-message.floating:after, #waltz-message.floating:before {
  content: " ";
  position: absolute;
  border: 10px solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
}
#waltz-message.floating.right-arrow:after, #waltz-message.floating.right-arrow:before {
  left: 100%;
  top: 20px;
}
#waltz-message.floating.right-arrow:after {
  border-left-color: white;
  border-width: 10px;
  margin-top: -10px;
}
#waltz-message.floating.right-arrow:before {
  border-left-color: #111111;
  border-width: 13px;
  margin-top: -13px;
}
#waltz-message.floating.left-arrow:after, #waltz-message.floating.left-arrow:before {
  right: 100%;
  top: 20px;
}
#waltz-message.floating.left-arrow:after {
  border-right-color: white;
  border-width: 10px;
  margin-top: -10px;
}
#waltz-message.floating.left-arrow:before {
  border-right-color: #111111;
  border-width: 13px;
  margin-top: -13px;
}
#waltz-message.floating.top-arrow:after, #waltz-message.floating.top-arrow:before {
  left: 50%;
  bottom: 100%;
}
#waltz-message.floating.top-arrow:after {
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}
#waltz-message.floating.top-arrow:before {
  border-bottom-color: #111111;
  border-width: 13px;
  margin-left: -13px;
}
#waltz-message.floating.bottom-arrow:after, #waltz-message.floating.bottom-arrow:before {
  left: 50%;
  top: 100%;
}
#waltz-message.floating.bottom-arrow:after {
  border-top-color: white;
  border-width: 10px;
  margin-left: -10px;
}
#waltz-message.floating.bottom-arrow:before {
  border-top-color: #111111;
  border-width: 13px;
  margin-left: -13px;
}
#waltz-message.bottom {
  position: fixed;
  background: white;
  color: #111;
  width: 100%;
  bottom: 0;
  left: 0;
}
#waltz-message.click {
  cursor: pointer;
}
#waltz-message.click:hover {
  background: #DDD;
}
#waltz-message #waltz-message-dismiss {
  top: 0;
  left: 3px;
  position: absolute;
  color: #111;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
}
#waltz-message #waltz-message-dismiss:hover {
  color: #444;
}
#waltz-message #waltz-hide-for-site, #waltz-message #waltz-hide-for-page, #waltz-message #waltz-hide-cancel {
  box-shadow: 3px 3px 0 0 #5e5e5e;
  width: 90%;
  margin: 5% auto;
  display: block;
  color: white;
  background: #777777;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4em;
}
#waltz-message #waltz-hide-for-site:hover, #waltz-message #waltz-hide-for-page:hover, #waltz-message #waltz-hide-cancel:hover {
  box-shadow: 2px 2px 0 0 #5e5e5e;
}
#waltz-message #waltz-hide-for-site:active, #waltz-message #waltz-hide-for-page:active, #waltz-message #waltz-hide-cancel:active {
  box-shadow: 1px 1px 0 0 #5e5e5e;
}
#waltz-message #waltz-hide-for-site:focus, #waltz-message #waltz-hide-for-site:active, #waltz-message #waltz-hide-for-page:focus, #waltz-message #waltz-hide-for-page:active, #waltz-message #waltz-hide-cancel:focus, #waltz-message #waltz-hide-cancel:active {
  outline: none;
}
#waltz-message #waltz-hide-for-site:hover, #waltz-message #waltz-hide-for-page:hover, #waltz-message #waltz-hide-cancel:hover {
  background: #7c7c7c;
}
#waltz-message #waltz-hide-for-site.loading, #waltz-message #waltz-hide-for-page.loading, #waltz-message #waltz-hide-cancel.loading {
  -webkit-animation-name: opacity-pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: 1s;
}

#waltz-onboarding-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9990;
  width: 100%;
  height: 100%;
  -webkit-transition: background .5s;
  cursor: default;
  background: rgba(255, 255, 255, 0.7);
}
#waltz-onboarding-overlay img {
  position: absolute;
  width: 300px;
  top: 50px;
  left: 50px;
}

/* safari and chrome */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0.5deg);
  }

  50% {
    -webkit-transform: rotate(-0.5deg);
  }

  100% {
    -webkit-transform: rotate(0.5deg);
  }
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
  0% {
    transform: rotate(0.5deg);
  }

  50% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0.5deg);
  }
}

#waltz-first-share-overlay p {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  margin-top: 10px;
}
#waltz-first-share-overlay p b {
  font-weight: 700;
}
#waltz-first-share-overlay #waltz-first-share {
  margin: 30px 0;
}
#waltz-first-share-overlay #waltz-first-share-continue {
  font-size: 14px;
}

#waltz-login-wrapper {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 2147483647;
  width: 64px;
  height: 64px;
}
#waltz-login-wrapper.waltz-remove {
  right: -114px;
}
#waltz-login-wrapper #waltz-login-button {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 32px;
  background-size: 64px;
  cursor: pointer;
  background-position: center;
  z-index: 2147483647;
  -webkit-transition: .5s;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}
#waltz-login-wrapper #waltz-login-button:hover {
  background-color: black;
}
#waltz-login-wrapper .waltz-button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  position: absolute;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
#waltz-login-wrapper .waltz-button.waltz-dismiss {
  background-size: 100%;
  background-position: center center;
  background-color: transparent;
  top: -10px;
  right: -10px;
  transition: background-color 200ms;
}
#waltz-login-wrapper .waltz-button.waltz-dismiss:hover {
  background-color: #dd0005;
}
