@import "_settings";

#waltz-credential-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9990;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 ); // IE6-9 fallback on horizontal gradient
    -webkit-transition: opacity .5s;
    cursor: default;

    &.tutorial {
        background: none;
    }


    &.slide-in {
        opacity: 1;
    }

    &::after {
        position: absolute;
        color: white;
        content: "×";
        top: 10px;
        left: 10px;
        font-size: 30px;
        line-height: 20px;
        margin: 0;
        opacity: .5;
        cursor: pointer;
        z-index: 9999;
        &:hover {
            opacity: 1;
        }
    }
}

#waltz-credential-form {
    $spacing: 20px;
    $width: 280px;
    $logo-size: 40px;
    width: $width;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% $spacing;
    background-size: 50px;
    box-shadow: 0 0px 10px #000;
    margin: auto;
    margin-top: -500px;
    padding-bottom: 1px;
    -webkit-transition: .2s;
    position: relative;

    &.slide-in {
        margin-top: 0;
    }

    $padding: 5px;
    $input-width: $width - ($spacing * 2) - ($padding * 2);
    $submit-width: 40px;

    #waltz-credential-username, 
    #waltz-credential-password,
    #waltz-credential-submit, 
    #waltz-credential-alert {
        font-family: "Gill Sans", "Helvetica Neue", "Helvetica", serif;
        font-weight: 300;
        font-size: 18px;
        padding: $padding;
        margin: $spacing;
        border-radius: 0px;
        display: block;
        border: 1px solid black;
        &:not(#waltz-credential-submit) {
            -webkit-transition: .5s;
            -webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.54);
            &:focus {
                $color: lighten($pink, 30%);
                outline: none;
                border-color: $color;
                -webkit-box-shadow: 0 0 10px $color;
            }
        }
    }

    #waltz-credential-logos {
        width: 3 * $logo-size + 4 * $spacing;
        margin: auto;
        position: relative;
        img, div#waltz-credential-site-logo {
            width: $logo-size;
            border-radius: $logo-size / 2;
            margin: $spacing;
            display: inline-block;
            &#waltz-credential-arrow {
                margin: $spacing 0;
            }
        }

        div#waltz-credential-site-logo {
            height: $logo-size;
            background: white;
            background-size: 65% 65%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        &:after {
            content: " ";
            background-image: url('chrome-extension://__MSG_@@extension_id__/img/lock.png');
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: 12%;
            background-position: 50% 10%;
            background-repeat: no-repeat;
            opacity: .5;
        }
    }

    #waltz-credential-message {
        font-family: "Gill Sans", "Helvetica Neue", "Helvetica", serif;
        text-align: center;
        color: white;
        font-size: 14px;
        margin: 0;
        padding: 0 10px;
    }

    #waltz-credential-username {
        width: $input-width;
    }

    #waltz-credential-password {
        display: inline-block;
        width: $input-width - $submit-width;
        margin-left: $spacing;
        margin-right: 0;
        margin-top: 0;
    }

    #waltz-credential-submit {
        $margin-size: 10px;
        border: none;
        color: white;
        cursor: pointer;
        background: white;
        color: black;
        width: $submit-width - $margin-size;
        display: inline-block;
        -webkit-transition: .5s;
        margin: 0;
        margin-left: $margin-size;
        color: white;
        background: transparent;
        background-position: center center;
        background-size: 80%;
        background-repeat: no-repeat;
        -webkit-border-radius: $submit-width / 2;

        &:hover {
            background-color: $pink;
        }
        &:after {
            display: block;
            clear: both;
        }
    }

    #waltz-credential-alert {
        margin-top: $spacing;
        font-size: 14px;
        background-color: #f65058;
        color: white;   
    }

}
.waltz-clear {
    clear: both;
}
