@import "_settings";

$main-padding: 20px;
#waltz-credential-overlay, #waltz-first-share-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-2nd;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#b3000000',GradientType=1 ); // IE6-9 fallback on horizontal gradient
    -webkit-transition: opacity .5s;
    cursor: default;

    &.tutorial {
        background: none;
    }


    &.slide-in {
        opacity: 1;
    }

    &::after {
        position: absolute;
        color: white;
        content: "×";
        top: 10px;
        left: 10px;
        font-size: 30px;
        line-height: 20px;
        margin: 0;
        opacity: .5;
        cursor: pointer;
        z-index: $z-index-2nd;
        &:hover {
            opacity: 1;
        }
    }
}

#waltz-credential-form, #waltz-first-share-form {
    $width: 380px;
    width: $width;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 50px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: -500px;
    padding-bottom: 1px;
    -webkit-transition: .2s;
    position: relative;
    color: black;

    font-family: $font-family;

    h1, h2, h3, h4, h5, h6, p {
        text-align: left;
        text-indent: 0;
    }

    & > * {
        font-family: inherit;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }

    &.slide-in {
        margin-top: 40px;
    }

    * {
        text-shadow: none;
    }

    div.label {
        margin-top: 15px;
        margin-bottom: 4px;
        display: block;
        font-family: $font-family;
        font-weight: 700px;
        color: #888;
        font-size: 12px;
        text-align: left;
        background: transparent;
    }

    #waltz-credential-username,
    #waltz-credential-password,
    #waltz-credential-submit,
    #waltz-credential-alert,
    #waltz-first-share {
        font-family: $font-family;
        font-size: 18px;
        border-radius: 0px;
        display: block;
        padding: 5px 10px;
        margin: 0;
        margin-bottom: 15px;
        width: 85%;
        background: white;
        color: black;
        height: 24px;
        box-sizing: content-box;
        &:active, &:focus {
            outline: none;
        }
    }

    #waltz-credential-username,
    #waltz-credential-password {
        height: 24px;
    }

    #waltz-credential-submit,
    #waltz-first-share {
        $color: $green;
        $box-shadow-size: 4px;
        background: $color;
        border: none;
        color: white;
        text-align: left;
        padding: 10px 40px 10px 30px;
        margin-bottom: 30px;
        cursor: pointer;
        width: auto;
        height: auto;

        box-shadow: 0 $box-shadow-size 0 0 darken($color, 10%);
        &:hover {
            box-shadow: 0 $box-shadow-size - 1 0 0 darken($color, 10%);
        }
        &:active {
            box-shadow: 0 $box-shadow-size - 2 0 0 darken($color, 10%);
        }
    }

    form {
        padding: 0 20px;
        display: block;
        h2 {
            font-size: 12px;
            line-height: 16px;
            color: #888;
            margin: 25px 0 10px 0;
            font-weight: 300;
            font-family: $font-family;
            padding: 0;
            text-align: left;
        }
    }

    #waltz-credential-alert {
        font-size: 14px;
        background-color: #f65058;
        color: white;
        padding: 10px;
    }

    #waltz-credential-header, #waltz-first-share-header {
        padding: $main-padding;
        padding-bottom: $main-padding - 10px;
        h1 {
            font-size: 18px;
            color: #333;
            font-family: $font-family;
            font-weight: bold;
            line-height: 26px;
            margin: 0;
            padding: 0;
            text-align: left;
            background: white;
            text-indent: 0;
        }
    }

    #waltz-credential-footer {
        background: #EEE;
        padding: $main-padding;
        #waltz-credential-footer-image {
            width: 30%;
            float: left;
            img {
                width: 80%;
            }
        }
        #waltz-credential-footer-message {
            width: 70%;
            float: left;
            p {
                margin: 0;
                font-size: 13px;
                line-height: 17px;
                &:first-child {
                    margin-bottom: 10px;
                }
                b {
                    font-weight: 700;
                }
            }
        }
    }

}
.waltz-clear {
    clear: both;
}
