#waltz-first-share-overlay {
    p {
        margin: 0;
        font-size: 13px;
        line-height: 17px;
        margin-top: 10px;
        b {
            font-weight: 700;
        }
    }
    #waltz-first-share-header {
        h1 {
        }
    }

    #waltz-first-share {
        margin: 30px 0;
    }

    #waltz-first-share-continue {
        font-size: 14px;
    }
}