$blue: #0390DC;
$red: #DD0005;
$green: #00BE61;
$pink: #F50380;

$twitter-color: #2396D5;
$github-color: #010101;
$facebook-color: #4461A7;
$email-color: #999;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$button-font-family: $font-family;
$button-font-weight: 700;

$slide-height: 600px;
$slide-width: 400px;
