$pink: #F50380;
$purple: #8A7BAC;
$blue: #0291D6;
$black: #111;

$header-font-weight: bold;

$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$button-font-size: 26px;
$button-font-weight: bold;
