$blue: #0D9DDB;
$red: #db070a;
$green: #19b008;
$pink: #F50380;

$red-off: #db4c53;
$green-off: #7fe26c;
$pink-off: #F774B8;

$blue-on: #087db0;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$button-font-family: $font-family;
$button-font-weight: 700;

$slide-height: 600px;
$slide-width: 500px;