@import "_settings";

#sites {
    font-family: $font-family;
    & > * {
        font-family: inherit;
    }

    header {
        h1, h2 {
            text-align: center;
        }
    }
    

    .sites-list {
        padding: 0;
        text-align: center;
        a {
            display: block;
            position: relative;
            &.completed {
                opacity: .3;
            }
            li {
                width: 25%;
                float: left;
                margin: 40px 0;
                &:hover {
                    background: #EEE;
                }
                padding-bottom: 20px;
            }
            img {
                height: 150px;
                width: 150px;
            }
        }
    }
}

