@import "_settings.scss";
@import "../foundation/scss/foundation.scss";

body, html {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    * {
        font-family: inherit;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    .clear {
        clear: both;
    }
}

header {
    text-align: center;
    h1 {
        font-size: 60px;
    }
    h2 {
        color: #888;
    }
}

.sites-list {
    padding: 0;
    text-align: center;
    a {
        display: block;
        position: relative;
        &.completed {
            opacity: .3;
        }
        li {
            width: 25%;
            float: left;
            margin: 40px 0;
            &:hover {
                background: #EEE;
            }
            padding-bottom: 20px;
        }
    }
    
}