@import "_settings";
@import "_mixins";
@import "_animations";
@import "_credentials";
@import "_message";
@import "_onboarding";
@import "_first-share";

#waltz-login-wrapper {
    $size: 64px;

    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 9999;

    width: $size;
    height: $size;

    &.waltz-remove {
        right: -($size + 50);
    }
    
    #waltz-login-button {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        border-radius: 32px;
        background-size: 64px;
        cursor: pointer;
        background-position: center;
        z-index: 9999;


        -webkit-transition: .5s;
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;

        &:hover {
            background-color: black;
        }
    }

    .waltz-button {
        $offset: 10px;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        display: block;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        position: absolute;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;

        &.waltz-dismiss {
            background-size: 100%;
            background-position: center center;
            background-color: transparent;
            top: -$offset;
            right: -$offset;
            transition: background-color 200ms;
            &:hover {
                background-color: $red;
            }
        }
    }
}
