@import "_settings";
@import "_mixins";
@import "_animations";
@import "_credentials";
@import "_message";
@import "_onboarding";
@import "_first-share";

#waltz-login-wrapper {
    &.overlayed {
        $button-size: 100px;
        $background: rgba(255, 255, 255, .9);
        $shadow: 0 0 15px rgba(0, 0, 0, .5);
        $hover-shadow: 0 0 20px rgba(0, 0, 0, .7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        cursor: pointer;

        &.click-to-remove {
            background: transparentize(darken($background, 10%), .3);
        }

        &.waltz-remove {
            display: none;
        }

        #waltz-login-button {

            height: $button-size;
            width: $button-size;
            border-radius: $button-size;
            z-index: 2;

            box-shadow: $shadow;

            position: relative;
            top: 50%;

            margin: auto;
            margin-top: -$button-size / 2;

            transition: 500ms all;

            &:hover {
                box-shadow: $hover-shadow;
                top: 40%;
                &:after {
                    box-shadow: $hover-shadow;
                    top: 60%;
                }
            }

            #waltz-button-background {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                height: 100%;
                width: 100%;
                border-radius: $button-size;
                background-size: 100%;
                background-position: 50%;
                background-repeat: no-repeat;
            }

            &:after {
                content: " ";
                $width: 40px;
                width: $width;
                height: 80px;
                position: absolute;
                z-index: 1;
                top: 10%;
                left: 50%;
                margin-left: - $width / 2;
                text-align: center;
                background: white;
                box-shadow: $shadow;
                font-family: "Open Sans", sans-serif;
                font-weight: bold;
                box-sizing: border-box;
                border-radius: 5px;
                transition: 500ms all;

                background-size: 40%;
                background-position: 50% 85%;
                background-repeat: no-repeat;
                background-image: url('chrome-extension://__MSG_@@extension_id__/static/img/small-phone.png');
            }
        }

        .waltz-dismiss {
            $size: 20px;
            $color: #aaa;
            height: $size;
            width: $size;
            line-height: $size;
            text-align: center;
            border-radius: $size;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: - $button-size / 2 - $size - 10px;
            margin-top: -$size / 2;
            border: 1px solid $color;
            color: $color;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 300;

            &:hover {
                $hover-color: darken($color, 10%);
                border-color: $hover-color;
                color: $hover-color;
            }

            &:before {
                content: "click now to dismiss waltz";
                position: absolute;
                top: -10%;
                right: 140%;
                margin-left: -40px;
                font-size: 12px;
                line-height: 14px;
                width: 80px;
                text-align: center;
                font-family: "Open Sans", sans-serif;
                font-weight: bold;
                transition: 500ms all;
                opacity: 0;
            }
        }

        &.hover {
            .waltz-dismiss {
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &.floating {
        $size: 64px;

        position: fixed;
        top: 30px;
        right: 30px;
        z-index: $z-index-1st;

        width: $size;
        height: $size;

        &.waltz-remove {
            right: -($size + 50);
        }

        #waltz-login-button {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            border-radius: 32px;
            background-size: 64px;
            cursor: pointer;
            background-position: center;
            z-index: $z-index-1st;


            -webkit-transition: .5s;
            -webkit-animation-name: pulse;
            -webkit-animation-duration: 4s;
            -webkit-animation-iteration-count: infinite;

            &:hover {
                background-color: black;
            }
        }

        .waltz-button {
            $offset: 10px;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            display: block;
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 5px 5px;
            position: absolute;
            border: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
            min-width: 0;

            &.waltz-dismiss {
                background-size: 100%;
                background-position: center center;
                background-color: transparent;
                top: -$offset;
                right: -$offset;
                transition: background-color 200ms;
                &:hover {
                    background-color: $red;
                }
            }
        }
    }
}
